/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
    
}
@media screen and (max-width: 768px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

#add-hardware{
    margin-left: auto;
    margin-right: auto;
}
#hardware-add{
    width: 50%;
}
.form-control{
   height: 34px;
   margin-top: 5px;
}
.hardware-add-item{
    margin-left: auto;
    margin-right:auto;
    margin-top: 2vh;

}
.normal-height{
    height: 34px;
}
.control-label{
    margin-top: 7px;
}
.margin-top-5{
    margin-top: 5px;
}
.margin-top-15{
        margin-top: 15px;

}
.gridview {
    width: 100%; 
    word-wrap:break-word;
    table-layout: fixed;
    margin-top: 15px;
    border: 1px solid #ddd;
    display: inline-table;

}
.margin-top-26{
    margin-top:26.5px;
}
.margin-top-6-2{
    margin-top: 6.2px;
}
.picutureGrid {
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}
.hiddenField {
           display:none;
}
.invStyle{
    background-color: #f88900;

                   
}