/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

#add-hardware {
    margin-left: auto;
    margin-right: auto;
}

#hardware-add {
    width: 50%;
}

.jumbotron {
}

.hardware-add-item {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

.normal-height {
    height: 34px;
}

.control-label {
    margin-top: 7px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-15 {
    margin-top: 15px;
}

.gridview {
    width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
    margin-top: 15px;
    border: 1px solid #ddd;
    display: inline-table;
}

.margin-top-26 {
    margin-top: 26.5px;
}

.margin-top-6-2 {
    margin-top: 5px;
}

.picutureGrid {
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

.hiddenField {
    display: none;
}

.invStyle {
    background-color: #f88900;
}

.labelOutput {
    color: red;
}

.margin-top-20 {
    margin-top: 20px;
}

.footer {
    display: inline-block;
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalpopupdragbar {
    cursor: move;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    height: 20px;
    border: solid 1px #000066;
    vertical-align: middle;
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bold;
    vertical-align: middle;
}

.modalPopup {
    background-color: #DDDDDD;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 3px;
    width: 250px;
    left: 1%;
    right: 1%;
}

.outerPopup {
    background-color: transparent;
}

.hide {
    display: none;
}

.innerPopup {
    background-color: #DDDDDD;
    left: 1%;
    right: 1%;
}

.half-width {
    width: 50%;
    display: block;
}

.brand-image {
    max-width: 40px;
    padding-top: 5px;
    margin-left: 15px;
    margin-right: 25px;
}

.title-bar {
    background-color: rgba(241, 107, 7, 0.73);
    height: 30%;
    font-family: Segoe UI,Calibri, Arial,sans-serif;
    color: #F9F9F9;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.p6-margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.max-p80 {
    max-width: 30% !important;
}

.no-15 {
    margin-left: 0px;
    margin-right: 0px;
}

.no-border {
    border: none !important;
}

.blue-title {
    background-color: rgba(18, 130, 251, 0.78);
}

.center-image {
    margin: 0 auto !important;
    max-width: 20%;
}

.green-title {
    background-color: rgba(0, 254, 91, 0.82) !important;
}

.purple-title {
    background-color: rgba(154, 0, 248, 0.81);
}

.red-title {
    background-color: rgba(235, 30, 30, 0.81);
}

.gray-title {
    background-color: rgba(128, 128, 128, 0.81);
}

.sub-title-bar {
    padding-top: 10px;
}

.head-text {
    font-size: 1.2em;
}

.modal-content {
    max-width: 95% !important;
}

.OpenRequest {
    border-radius: 2px;
    background: rgba(255, 69, 18, 0.68);
    color: white;
}

.img-center {
    margin: 0 auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.carousel-image {
    width: 100%;
}

.no-padding {
    padding: 0px 0px 0px 0px;
}

.carousel-text {
    padding-bottom: 30px;
}

.carousel-caption {
    position: static;
}

.three-fourth {
    width: 73%;
    margin: 0 auto;
}

.transparent {
    background: transparent !important;
    border: 0px !important;
}

.modal-margin {
    margin-bottom: 30px;
}

form {
    margin-top: 20px;
}

.foreground {
    z-index: 999999;
}

.margin-bottom-16 {
    margin-bottom: 16px;
    margin-top: 16px;
}
